<html>
    <head>
        <title>Todo List</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../angular/angular.min.js"></script>
    </head>
    <body ng-app="TodoList" ng-controller="TodoCtrl">
        <div class="container" ng-app="TodoList" >
            <form ng-submit="todoAdd()">
                <input type="text" ng-model="todoInput" placeholder="add todo list"/>
                <input type="submit" value="submit"/>
            </form>
        </div>
        <div ng-repeat="list in todoList">
            <input type="checkbox" ng-model="list.done"/>
            <span ng-bind="list.todoText"></span>
        </div>
        <p><button ng-click="remove()">Delete</button></p>
    </body>
    <script>
        var app = angular.module('TodoList',[]);
        app.controller('TodoCtrl',function($scope){
            $scope.todoList = [{
               todoText : 'todo list',
               done : false 
            }];

            $scope.todoAdd = function(){
                $scope.todoList.push({todoText:$scope.todoInput,
                                      done:false});
                $scope.todoInput = '';
            };

            $scope.remove = function(){
                var oldList = $scope.todoList ;
                $scope.todoList = [];
                angular.forEach(oldList,function(item){
                    if(!item.done){
                        $scope.todoList.push(item);
                    }
                });
            }
        });
    </script>
</html>